<h1 class="animated fadeIn fast"> Sobre Comic App</h1>

<hr>
<p class="animated fadeIn">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio, iusto, nesciunt rem enim ipsa iure deserunt voluptas veritatis numquam modi consequuntur quia dolor earum. Ab sint perspiciatis sequi labore molestias?, Lorem ipsum dolor sit amet, consectetur
    adipisicing elit. Id, perspiciatis ab iure reiciendis quo unde repellendus velit eaque error autem fugiat nostrum temporibus ullam at dolor sed doloribus modi molestias!
</p>